<header id="header-collections-{{ collection.handle }}" class="page-header" role="heading">
  <div class="header-title">
    <h1 class="header-title--text">{{ collection.title }}</h1>
  </div>
  {% if collection.description != blank %}
    <div class="header-content">
      {{ collection.description }}
    </div>
  {% endif %}
</header>
<div class="container page-container product-container">
  {% paginate collection.products by 12 %}
    <div class="row">
      {% for product in collection.products %}
      {% if product.template_suffix != 'nobuy' %}
      {% capture product_image %} {{ product | img_url: '500x500' }} {% endcapture %}
        <div class="col-12 col-sm-6 col-md-4">
          <div class="product-item">
            {% if product.featured_image != blank %}
              <a
                class="product-image--link"
                title="{{ 'collections.general.link_title' | t: title: title }}"
                href="{{ product.url | within: collection }}"
                role="link">
                  <img
                    class="product-image--img img-responsive"
                    src="{{ product_image }}"
                    alt="{{ product.title }}">
              </a>
            {% endif %}

            <p>
              <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            </p>
            <p>
              {% if product.compare_at_price > product.price %}

                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  {{ product.price | money }}
                {% endif %}

              {% else %}

                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t: price: price }}
                {% else %}
                  {{ product.price | money }}
                {% endif %}

              {% endif %}

              {% if product.compare_at_price > product.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s>{{ product.compare_at_price | money }}</s>
              {% endif %}

              {% unless product.available %}
                {{ 'products.product.sold_out' | t }}
              {% endunless %}
            </p>
          </div>
        </div>
      {% endif %}
      <p>
        {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
          {% for i in (1..8) %}
            <a href="#">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            </a>

            <p>
              <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
            </p>

            <p>
              {{ 1999 | money }}
            </p>
          {% endfor %}
        {% else %}
          <p>{{ 'collections.general.no_matches' | t }}</p>
        {% endif %}
      </p>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <span class="divider"></span>
      </div>
    </div>
    <div class="row">
      {% for product in collection.products %}
      {% if product.template_suffix == 'nobuy' %}
      {% capture product_image %} {{ product | img_url: '500x500' }} {% endcapture %}
        <div class="col-12 col-sm-6 col-md-4">
          <div class="product-item">
            {% if product.featured_image != blank %}
              <a
                class="product-image--link"
                title="{{ 'collections.general.link_title' | t: title: title }}"
                href="{{ product.url | within: collection }}"
                role="link">
                  <img
                    class="product-image--img img-responsive"
                    src="{{ product_image }}"
                    alt="{{ product.title }}">
              </a>
            {% endif %}
            <p>
              <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            </p>
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endpaginate %}
</div>
