<header id="header-{{ page.handle }}" class="page-header parallax" role="heading">
  <div class="header-title green">
    <h1 class="header-title--text">{{ page.title }}</h1>
    {% if collection.description != blank %}
      <div class="header-title--description">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
</header>

<div class="container page-container">
  <div class="row">
    <div class="col-12">
      {{ page.content }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="contactForm" class="customer-form lg-form">
        {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="ContactFormName" class="form-label">
                  {{ 'contact.form.name' | t }}
                </label>
                <input type="text"
                  name="contact[name]"
                  class="form-control"
                  id="ContactFormName"
                  placeholder="{{ 'contact.form.name' | t }}"
                  value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="ContactFormEmail" class="form-label">
                  {{ 'contact.form.email' | t }}
                </label>
                <input type="email"
                  name="contact[email]"
                  class="form-control"
                  id="ContactFormEmail"
                  placeholder="{{ 'contact.form.email' | t }}"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="ContactFormPhone" class="form-label">
                  {{ 'contact.form.phone' | t }}
                </label>
                <input type="tel"
                  name="contact[phone]"
                  id="ContactFormPhone"
                  class="form-control"
                  placeholder="{{ 'contact.form.phone' | t }}"
                  value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                  pattern="[0-9\-]*">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="ContactFormMessage" class="form-label">
                  {{ 'contact.form.message' | t }}
                </label>
                <textarea rows="10"
                  name="contact[body]"
                  id="ContactFormMessage"
                  class="form-control"
                  placeholder="{{ 'contact.form.message' | t }}">
                  {%- if form.body -%}
                    {{- form.body -}}
                  {%- endif -%}
                </textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="form-group form--btn">
                <button
                  type="submit"
                  class="button pill-btn blue"
                  value="{{ 'contact.form.send' | t }}">
                  <span>Send Message</span>
                </button>
              </div>
            </div>
          </div>

        {% endform %}
      </div>
    </div>
  </div>
</div>
