<div class="pagination">
  {% if paginate.previous.is_link %}
    <div class="prev">
      <a href="{{ paginate.previous.url }}" class="pagination-item pagination-previous pill-btn yellow">
        <span>Previous</span>
      </a>
    </div>
  {% endif %}
  {% for part in paginate.parts %}
    {% if part.is_link %}
      <span class="page">
        <a href="{{part.url}}" class="pagination-item">{{ part.title }}</a>
      </span>
    {% else %}
      {% if part.title ==  paginate.current_page%}
        <span class="page current">
          {{ paginate.current_page }}
        </span>
      {% else %}
        <span>{{ part.title }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if paginate.next.is_link %}
    <div class="next">
      <a href="{{ paginate.next.url }}" class="pagination-item pagination-next pill-btn green">
        <span>Next</span>
      </a>
    </div>
  {% endif %}
</div>
