<header id="header-{{ page.handle }}" class="page-header parallax" role="heading">
  <div class="header-title">
    <h1 class="header-title--text">{{ 'customer.login.title' | t }}</h1>
  </div>
</header>
<div class="container page-container">
  <div class="row">
    <div class="col-12">
      <div class="form-success hide" id="ResetSuccess">
        {{ 'customer.recover_password.success' | t }}
      </div>
      <div id="CustomerLoginForm" class="customer-form sm-form">
        {% form 'customer_login' %}
          <h1 class="customer-form--title">{{ 'customer.login.title' | t }}</h1>
          <div class="form-group">
            <label for="CustomerEmail" class="form-label">
              {{ 'customer.login.email' | t }}
            </label>
            <input type="email"
                   name="customer[email]"
                   class="form-control {% if form.errors contains 'email' %}input-error{% endif %}"
                   id="CustomerEmail"
                   spellcheck="false"
                   autocomplete="off"
                   autocapitalize="off"
                   autofocus>
          </div>
          {% if form.password_needed %}
          <div class="form-group">
            <label for="CustomerPassword" class="form-label">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                   name="customer[password]"
                   class="form-control {% if form.errors contains 'password' %}input-error{% endif %}"
                   id="CustomerPassword">
          </div>
          {% endif %}
          <div class="form-errors">
            {{ form.errors | default_errors }}
          </div>
          <div class="form-group form--btn">
            <input type="submit" class="button customer-form--btn" value="{{ 'customer.login.sign_in' | t }}">
          </div>
          <div class="form-group">
            <a href="/">{{ 'customer.login.cancel' | t }}</a>
          </div>
          <div class="form-group">
            <a href="/account/register">
              {{ 'layout.customer.create_account' | t }}
            </a>
          </div>
          <div class="form-group">
            {% if form.password_needed %}
              <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
            {% endif %}
          </div>
        {% endform %}
      </div>

      <div id="RecoverPasswordForm" class="hide customer-form recover">
        <h1 class="customer-form--title">{{ 'customer.recover_password.title' | t }}</h1>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        {% form 'recover_customer_password' %}

          {% if form.posted_successfully? %}
            <span class="hide reset-password-success"></span>
          {% endif %}
          <div class="form-group">
            <label for="RecoverEmail" class="label-hidden" class="form-label">
              {{ 'customer.recover_password.email' | t }}
            </label>
            <input type="email"
                   class="form-control"
                   name="email"
                   id="RecoverEmail"
                   placeholder="{{ 'customer.recover_password.email' | t }}"
                   spellcheck="false"
                   autocomplete="off"
                   autocapitalize="off">
          </div>
          <div class="form-group form--btn">
            <input type="submit" class="button customer-form--btn" value="{{ 'customer.recover_password.submit' | t }}">
            <button type="button" class="customer-form--btn cancle" id="HideRecoverPasswordLink">
              {{ 'customer.recover_password.cancel' | t }}
            </button>
          </div>
          <div class="form-errors">
            {{ form.errors | default_errors }}
          </div>
        {% endform %}

      </div>

      {% if shop.checkout.guest_login %}
        <h2>{{ 'customer.login.guest_title' | t }}</h2>

        {% form 'guest_login' %}
        <div class="form-group form--btn">
          <input type="submit" class="customer-form--btn" value="{{ 'customer.login.guest_continue' | t }}">
        </div>
        {% endform %}
      {% endif %}
    </div>
  </div>
</div>
