<section data-section-id="{{ section.id }}" class="section product-slider">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="block-heading">
          <h1 class="block-heading--title">
            {{ section.settings.header | escape }}
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pill-container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="pills-popular-tab"
              data-toggle="pill"
              href="#pills-popular"
              aria-controls="pills-popular"
              aria-selected="true">
                Popular
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="pills-new-tab"
              data-toggle="pill"
              href="#pills-new"
              aria-controls="pills-new"
              aria-selected="false">
                New Arrivals
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="pills-special-tab"
              data-toggle="pill"
              href="#pills-special"
              aria-controls="pills-special"
              aria-selected="false">
                Specials
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
          <div id="popularCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                {% for product in collections.specials.products %}
                  {%- assign current_variant = product.selected_or_first_available_variant -%}
                  {% if product == empty %}
                    {%- assign section_onboarding = true -%}
                  {% endif %}
                  {% capture product_image %} {{ product | img_url: '500x500' }} {% endcapture %}
                  {%- assign mod = forloop.index | modulo: 3 -%}
                  {% if mod == 1 %}
                    {%- unless forloop.first -%}
                    <div class="carousel-item">
                    {%- endunless -%}
                  {% endif %}
                    <div class="col-12 col-sm-4 product-col">
                    <div class="product-box">
                      <a class="product-image--link" href="{{ product.url }}" role="link">
                        <img
                          class="product-image--img"
                          src="{{ product_image }}"
                          alt="{{ product.title }}">
                      </a>
                      <div class="product-details">
                        <h3 class="product-title"> {{ product.title }} </h3>
                        <span class="product-title--sub"> ({{ current_variant.sku }}) </span>
                        <p class="product-description">
                          {{ product.description }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {% if mod == 0 %}
                    {%- unless forloop.last -%}
                    </div>
                    {%- endunless -%}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">
          <!-- <div id="newCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {%- comment -%}
                Loop through each product and display them accordingly.
              {%- endcomment -%}
              {%- assign i = 0 -%}
              {% for product in collections.specials.products %}

              {%- assign current_variant = product.selected_or_first_available_variant -%}

              {% if product == empty %}
                {%- assign section_onboarding = true -%}
              {% endif %}

              {% capture product_image %} {{ product | img_url: '500x500' }} {% endcapture %}
              {%- assign i = i | plus: 1 -%}

              {% if i == 1 %}
                <div class="carousel-item  active">
              {% else %}
                <div class="carousel-item">
              {% endif %}
                <div class="col-12 col-sm-4">
                  <div class="product">
                    <a class="product-image--link" href="{{ product.url }}" role="link">
                      <img
                        class="product-image--img"
                        src="{{ product_image }}"
                        alt="{{ product.title }}">
                    </a>
                    <div class="product-details">
                      <h3 class="product-title"> {{ product.title }} </h3>
                      <span class="product-title--sub"> ({{ current_variant.sku }}) </span>
                      <p class="product-description">
                        {{ product.description }}
                      </p>
                      <form
                        class="add-to-cart--form"
                        data-productid="{{product.id}}"
                        action="/cart/add"
                        method="post">
                          <div class="input-wrapper">
                            <input type="hidden" name="quantity" id="quantity" value="1">
                            <input
                              type="hidden"
                              name="id"
                              data-productid="{{product.id}}"
                              class="product-select"
                              value="{{ product.variants[0].id }}"
                              data-variant-title="{{ product.variants[0].title }}">
                          </div>
                          <button
                            class="add-to-cart--btn"
                            type="submit"
                            name="add"
                            data-add-to-cart
                            {% unless product.available %}disabled="disabled"{% endunless %}
                            {% if section_onboarding %}disabled="disabled"{% endif %}>
                              <span data-add-to-cart-text>
                                {% if product.available %}
                                  {{ 'products.product.add_to_cart' | t }}
                                {% else %}
                                  {{ 'products.product.sold_out' | t }}
                                {% endif %}
                              </span>
                          </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div> -->
        </div>
        <div class="tab-pane fade" id="pills-special" role="tabpanel" aria-labelledby="pills-special-tab">

        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Product Slider",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Section Heading",
        "default": "Example Section Heading"
      }
    ],
    "presets": [
      {
        "name": "Product Slider",
        "category": "Product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
